.chart{
    flex:5;
      -webkit-box-shadow: -1px 1px 15px 0px rgba(181, 181, 181, 0.75);
-moz-box-shadow: -1px 1px 15px 0px rgba(175, 173, 173, 0.75);
box-shadow: -1px 1px 15px 0px rgba(175, 174, 174, 0.75);
}